[Desktop Entry]
Version=0.0.1
Name=Buck Wallet
Comment=Buck Desktop GUI Wallet (full node)
GenericName=Buck Wallet
Keywords=Buck;cryptocurrency;BUCK;
Exec=buck-desktop-gui-wallet
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/lib/buck-gui-wallet/BUCK-icon.png
Categories=GNOME;Application;
StartupNotify=true
